/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root {
    --bg-color: #000;
    --scene-bg-color: #d0bc95;
    --subtitle-bg-color: #000;
    --subtitle-txt-color: #fff;
    --font-family: 'Sniglet', sans-serif;
    --font-size: 16px;
    --scene-animation-duration: 20s;
}

@media screen and (max-device-width: 768px) {
    :root {
        --font-size: 14px;
    }
}

html {
    font-size: var(--font-size);
}

body {
    font-family: var(--font-family);
    font-size: 1.5rem;
    line-height: 1.5em;

    overflow: hidden;
    user-select: none;
    background: var(--bg-color);
}

[x-cloak] {
    display: none !important;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.scenes {
    width: 100%;
    height: 80%;

    position: relative;

    background-image: url('../imgs/pattern.webp');
    background-color: var(--scene-bg-color);
    background-blend-mode: multiply;
}

.scene {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    mix-blend-mode: multiply;

    /* background-image: url(...); set by js */
    background-origin: content-box;
    background-position: center -10%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    mix-blend-mode: multiply;

    animation: var(--scene-animation-duration) linear forwards backgroundScrollY;
}

@media screen and (orientation: portrait) {
    .scene {
        padding: 2rem 0;
        background-position: -10% center;
        background-size: auto 100%;
        animation: var(--scene-animation-duration) linear forwards backgroundScrollX;
    }
}

@keyframes backgroundScrollX {
    from {
        background-position: -10% center;
    }

    to {
        background-position: 110% center;
    }
}

@keyframes backgroundScrollY {
    from {
        background-position: center -10%;
    }

    to {
        background-position: center 110%;
    }
}

.captions {
    width: 100%;
    height: 20%;
    position: relative;

    background: var(--subtitle-bg-color);

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    color: var(--subtitle-txt-color);
    list-style: none;
    text-align: center;
}

.caption {
    position: absolute;
    padding: 0 2rem;
}

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: var(--subtitle-bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

.modal__content {
    max-width: 50rem;
    padding: 2rem;
    color: var(--subtitle-txt-color);
    list-style: none;
    text-align: center;
}

.modal__footer {
    display: flex;
}

.modal__action {
    background: none;
    border: none;
    padding: 0 2rem;

    color: var(--subtitle-txt-color);
    font-family: var(--font-family);
    font-size: 1.5rem;
    line-height: 1.5em;
    list-style: none;
    text-align: center;
    cursor: pointer;

    position: relative;
}

.modal__action::before {
    content: '>';
    display: inline-block;

    position: absolute;
    left: 0;

    opacity: 0;
    transition: opacity 1s;
}

.modal__action:focus {
    outline: none;
}

.modal__action:hover::before,
.modal__action:focus::before {
    opacity: 1;
}